nav {
  background-color: #FFFFFF;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  display: flex;
  width: 100%;
  height: 2rem;
  justify-content: flex-end;
}

#company--name {
  color: #335576;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 0rem 0rem 4rem;
  font-size: 1.2rem;
}

nav div ul {
  display: flex;
  list-style-type: none;
}

.nav__menu--home,
.nav__menu--hawaii,
.nav__menu--iceland {
  padding: 1rem;
  margin: 0 auto;
  font-size: 0.8rem;
  color: black;
}

.nav__menu--greece {
  padding: 1rem 4rem 1rem 1rem;
  font-size: 0.8rem;
  color: black;
  text-decoration: underline;
  text-decoration-color: #DB7A4E;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.4rem;
}


div.header__hero--headline{
  padding: 3rem 0rem 1.5rem 3rem;
  margin: 1rem;
  color: white;
  font-size: 2rem;
  width: 100%;
  display: inline-block;
}

div.header__hero--background-img {
  background-image: url("../assets/images/greece.jpg");
  background-position: center;
  background-size: 100%;
  height: 650px;
  background-repeat: no-repeat;
}

section.main__cards {
  display: flex;
  justify-content: center;
  
}

.card--friday,
.card--saturday,
.card--sunday {
  width: 15rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 1rem;
  position: relative;
  background-color: white;
  text-align: center;
  height: 20rem;
}

hr {
  height: 4px;
  background-color: #000000;
  width: 88%;
  margin: 0 auto;
}

h3 {
  padding-top: 1rem;
  padding-bottom: 0.1rem;
}

.card--friday ul li,
.card--saturday ul li,
.card--sunday ul li {
  list-style-type: none;
  background-color: #FEFAF5;
  border: 1px solid #FEFAF5;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
}

section h3 {
}

footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #FEFAF5;
  width: 100%;
}

.footer__contacts,
.footer__hours,
.footer__social {
  padding: 1rem 2rem;
  color: #335576;
}

.footer__contacts {
padding-left: 60px;
}

.footer__hours--days {
  display: flex;
  width: 100%;
}

.footer__hours--mon-fri,
.footer__hours--sat,
.footer__hours--sun {
  padding-right: 30px;
}

.contacts--email,
.hours--day {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 15px;
  color: #DB7A4E;
}

.social--instagram,
.social--facebook{
  padding-top: 10px;
  padding-right: 25px;
  height: 30%;
}

.social--twitter {
  padding-top: 10px;
  height: 30%;
}