nav {
  background-color: #FFF0ED;
  vertical-align: middle;
  height: 100%;
}

nav h2.company {
  font-weight: normal;
  text-decoration: none;
  color: #393939;
  font-size: 2.5rem;
}

nav a img,
nav h2 a,
nav ul li {
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  vertical-align: middle;
}

nav a img.coffee-logo {
  padding-top: 1rem;
  height: 3rem;
  margin: 0.5rem;
}

#nitro {
  padding-top: 18px;
}

li.about,
li.menu,
li.shop {
  padding-top: 2.5rem;
}

body {
  padding: 0px;
  margin: 0px;
  margin-top: -32px;
}

header {
  width: 100%;
  height: 100px;
  background-color: #FFF0ED;
  position: sticky;
}

.header-image h1.menu {
  background-color: #393939;
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  font-size: 3.5rem;
  width: 16rem;
  height: 10.5rem;
  text-align: center;
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

h2 {
  margin-top: 0px;
}

section.header-image {
  background-image: url("../assets/coffee-circle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 47rem;
}

li.about a,
li.menu a,
li.shop a {
  text-transform: uppercase;
  font-weight: normal;
  padding-left: 1.5rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: #393939;
}

li.shop a {
  color: #5BACC3;
}

li.hot-drinks a,
li.cold-drinks a,
li.pastries a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 1.3rem;
}

li.hot-drinks,
li.cold-drinks,
li.pastries {
  text-align: center;
  border-left: #5BACC3 solid 4px;
  display: inline-block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.menu-list {
  width: 100%;
  background-color: #393939;
  text-align: center;
  padding: 0.5rem;
}

ul li {
  list-style-type: none;
}

ul {
  padding: 0px;
}

#hot-drinks,
#cold-drinks,
#pastries {
  text-align: center;
  font-weight: normal;
  font-size: 3rem;
  color: #393939;
}

section.hot-drinks,
section.pastries {
  background-color: #FFF0ED;
  padding-top: 1.7rem;
  padding-bottom: 1.9rem;
}

section.cold-drinks {
  background-color: #F7F7F7;
  padding-top: 1.7rem;
  padding-bottom: 1.9rem;
}

h3.menu-item {
  text-align: center;
  font-weight: normal;
  font-size: 1.7rem;
  color: #393939;
}

p.menu-item {
  text-align: center;
  font-style: italic;
  color: #393939;
  max-width: 30rem;
  min-width: 20rem;
  font-size: 1.2rem;
  margin: auto;
}

p.item-price {
  text-align: center;
  color: #5BACC3;
  margin-bottom: 0px;
}